<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app.slides" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.Hall"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Login"
            android:label="Iniciar Sesion"
            android:parentActivityName=".activities.Hall"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hall" />
        </activity>

        <activity
            android:name=".activities.Register"
            android:label="Registrarse"
            android:parentActivityName=".activities.Hall"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hall" />
        </activity>

        <activity
            android:name=".activities.Home"
            android:label="@string/app_name"
            android:parentActivityName=".activities.Hall"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hall" />
        </activity>

        <activity
            android:name=".activities.Preferences"
            android:label="Preferencias"
            android:parentActivityName=".activities.Home"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Home" />
        </activity>

        <activity
            android:name=".activities.Recover"
            android:label="Recuperar contraseña"
            android:parentActivityName=".activities.Register"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Register" />
        </activity>

        <activity
            android:name=".activities.UserDetail"
            android:label="Detalle Usuario"
            android:parentActivityName=".activities.Home"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Home" />
        </activity>

        <service android:name=".services.LocationService"/>

    </application>

</manifest>
